<html>
    <head>
        <title>Users with Backbone</title>
        <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8"/>
        <link rel = "stylesheet" href = "css/style.css">

        <script src = "bower_components/requirejs/require.js"></script>
        <script src = "js/requirejs.config.js"></script>
        <script src = "js/main.js"></script>
    </head>
    
    <body>
    <div id = 'containerForUsers'>
        <form id = 'myForm'>
            <label>Name</label>
            <input type = 'text' name = 'name'></input><br>
            <label>Age</label>
            <input type = 'text' name = 'age'></input><br>
            <label>Email</label>
            <input type = 'text' name = 'email'></input><br>
            <button id = 'addUser'>Create user</button>
        </form>
        <table id = 'users'></table>
    </div>
        <script type = "text/template" id = "tableRow">
                <td><%- name %></td>
                <td><%- age %></td>
                <td><%- email %></td>
                //<td><button class = "destroy"> R </button></td>
            </tr>
      </script>
    </body>
</html>